<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Stahování mapových dlaždic. Flutter ho sám přidává jen do debug buildu,
         v release by mapa bez tohohle zůstala prázdná. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Poloha kvůli vycentrování mapy a vzdálenostem k rozhlednám.
         Aplikace bez ní funguje, jen bez "co mám v okolí". -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:label="Rozhledny"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Příjem zálohy z druhého telefonu.

                 Obojí se filtruje jen podle MIME typu, takže se aplikace
                 nabízí u každého ZIPu — jak ve sdílení, tak při otevírání.

                 Zúžit to na jméno souboru přes `pathPattern` nejde: ten
                 vyžaduje shodu `host`, kterou `content://` URI od messengerů
                 nesplňují (a `host="*"` není zástupný znak, jak se běžně
                 traduje). Ověřeno přes `pm query-activities` — s omezením
                 na jméno se aplikace nenabídla u žádného URI. Volba tedy
                 byla „u všech ZIPů, nebo vůbec“.
                 Cizí archiv aplikace odmítne srozumitelnou hláškou. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/zip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/zip"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <!-- Od Androidu 11 (API 30) aplikace ostatní aplikace nevidí, dokud
         nedeklaruje, jaké záměry chce řešit. Bez těchhle záznamů vrací
         url_launcher `canLaunchUrl` false a tlačítko tiše nic neudělá
         ("component name for geo:… is null" v logu). -->
    <queries>
        <!-- Navigovat: preda souradnice do Mapy.cz, Google Maps a spol. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <!-- Odkazy na Wikipedii, Commons, licenci a developer.mapy.com. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
